{
    "presets": [
        "env",
        "react"
        // ,"@babel/env", "@babel/react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
        // ,"@babel/plugin-proposal-class-properties", "@babel/plugin-proposal-object-rest-spread"
    ]
}