node_modules/
public/bundle.js
public/bundle.js.LICENSE.txt
public/bundle.js.map
public/styles.css
public/styles.css.map
webpack.config.js.old
webpack.prod.js
webpack.prod.js
webpack.common.js
public/dist/
.env.test
.env.development